html {
	box-sizing: border-box;

}

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;

}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansregular.woff");
  font-display: swap;
  font-weight: 500;

}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff");
  font-display: swap;
  font-weight: 700;

}

a {
	color: inherit;
	text-decoration: none;

}

img {
	max-width: 100%;

}

body {
  font-family:  "Open Sans", sans-serif;
  background-color: #fff;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);

}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;

}

.header{
  background-color: #000;
  max-width: 100%;
}

.container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

}

h1, h2, h3, h4, p, ul {
  margin: 0;
}

.header__container{
  display: flex;
  flex-flow:  row wrap;
  min-height:  100px;
  align-items: center;
  justify-content:  space-between;

}

.logo{
  /*width: 225px;
  height: 72px;*/
  padding: 30px 0;


}

.nav-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 39px;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  gap: 96px;
  /*order: 3;*/

}

.nav__link{
  text-decoration: none;
  position: relative;
  transition:  all 0.3s ease-in-out;
  cursor: pointer;

}

.loop{
  transition:  all 0.3s ease-in-out;
  cursor: pointer;

}

.loop:hover  {
  background-color: #9d5cd0;
  outline: none;
 /* stroke: #FFF;*/
}
/*
.loop:hover path{
  background-color: #9d5cd0;
/*  stroke: #FFF;
  cursor: url(../img/cursor.svg),pointer;
}*/



.loop:focus rect{
  background-color:#000;
  stroke: #9d5cd0;
  cursor: pointer;
}

.loop:focus path{
  background-color:#000;
  stroke: #9d5cd0;
  cursor: pointer;
}

.loop:active rect{
  stroke: #9d5cd0;
  cursor: pointer;
}

.loop:active path{
  stroke: #9d5cd0;
  cursor: pointer;
}


/*
.nav__link:hover:after{
  width: 100%;
  height: 100%;

}

.nav__link::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #9d5cd0;
  transition:  0.3s;



}
*/

.nav__link:hover{
  background-color: #9d5cd0;
  color: #fff;
}

.nav__link:focus{
  background-color:none;
  color: #9d5cd0;
  outline: 2px solid  #9d5cd0;
  outline-offset: 3px;
}

.nav__link:active{
  color: #7943a4;
}


.first{
  background-image: url(../img/museum.jpg);
  background-position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.first__container{
  display: flex;
  flex-flow:  column wrap;
  /*height: 100%;*/
  border-radius: 32px;
  max-width: 100%;


}

.title-first{
  display: flex;
  flex-flow: column wrap;
  padding: 146px 0;
  max-width: 100%;


}

.first__title{
  max-width: 50%;
  /*min-height: 170px;*/
  font-size: 72px;
  font-weight: 800;
  color:#FFF;
  margin-bottom: 24px;
  display: inline-flex;

}

.first__descript{
  max-width: 579px;
  /*min-height: 90px;*/
  font-size: 18px;
  font-weight: 700;
  color:#FFF;
  margin-bottom: 90px;
  line-height: 1.667;

}

.title{
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 32px;
}

.butt{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 100px;
  padding: 17px 35px;
  max-width: 314px;
  /*height: 70px;*/
  background: #9d5cd0;
  font-size: 18px;
  font-weight: 700;
  color:#FFF;
  border: none;

}

.butt:hover{
  background-color: #9d5cd0;
  outline: 3px solid #d1a9f0;

}

.butt:focus{
  background-color: #9d5cd0;
  outline: 2px solid #c283f3;


}

.butt:active{
  outline: 3px solid #d1a9f0;
 background-color: #7943a4;

}

.about{
  padding-top: 50px;
  min-height: 192px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 50px;

}

.about__descript{
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  max-width: 1235px;
  min-height: 192px;
}

.gallery{
  max-width: 100%;
  background-image: url(../img/gallery.jpg);
  background-position: absolute;
  background-size: cover;
  background-repeat: no-repeat;

}


.gallery__form{
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  color: #FFF;
  min-height: 100%;


}

.gallery__item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;
  align-self: stretch;
  padding: 80px 0;
  max-width: 100%;
}

.gallery__title{
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 16px;
}

.gallery__checkbox{
  display: flex;
  flex-direction: column;
  gap:10px
}

.gallery__image{
  display: flex;
  flex-wrap: wrap;
  gap:50px;
  padding: 165px 0 80px 0;
  max-width: 100%;

}

.gallery__image__item{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__image__part{
  max-width: 100%;
}

.item__title{
  font-size: 24px;
  font-weight: 600;
  color:#333;
}

.item__date{
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.item__descript{
  font-size: 16px;
  font-weight: 400;
  color:#333;
  line-height: 2;
}


.catalog__images{
  padding-bottom: 80px;
}

.container__events{
  display: flex;
  /*gap: 50px;*/
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}


.but{
  border: 3px solid #f90;
  border-radius: 16px;
  padding: 19px 38px;
  max-width: 175px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

}

.but:hover{
  background-color:#f90;
}

.but:focus{
  background-color:#ffb84d;
  outline: none;
}

.but:active{
  background-color:#e1670e;
}

.image-item{
  max-width: 433px;
  min-height: 96px;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}

.catalog{
  padding-top: 80px;
}

.catalog__images{
  display: flex;
  flex-direction: column;

}

.container_image{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  gap: 50px;
}


.catalog__title__descript{
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  max-width: 1080px;
  color: #333;
  padding-bottom: 50px;
}

.catalog__item{
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;


}

.catalog__item__image{
  max-width: 100%;
}

.catalog__item__descript{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  width: 50%;
  gap:15px;
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  padding-bottom: 80px;
  max-width: 100%;
}

.project__item{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
}

.parthners{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33333;
  margin-top: 30px;
  margin-bottom: 16px;
}

.project__item_descript{
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  max-width: 1080px;
  color: #333;
}


.parthners__project{
  display: flex;
  max-width: 100%;
  /*justify-content: space-between;*/
  gap:34px;
  flex-wrap: wrap;
}

.parthners__project__item{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #cacaca;
  padding: 27px;
  max-width: 100%;
  /*height: 122px;*/
  background: #fff;
}


.events{
  max-width: 100%;
  margin-bottom: 80px;
}

.events__item__image{
  display: flex;
  align-self: stretch;
 /* height: 40%;*/

}



.events__item{
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
  max-width: calc(100% / 3 - 33px);

}

.events__item__descript{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
 /* align-self: stretch;*/
  height: 100%;
  padding: 13px 50px 48px 50px;
}

.events__item__adress{
  margin-bottom: 13px;
  font-size: 12px;
}

.events__item__title{
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.events__item__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 66px;
}

.events__item__link{
  display: flex;
  justify-content: flex-end;
  color: #9d5cd0;
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.events__item__link:hover{
  color: #FFF;
  background-color: #7943a4;
}

.events__item__link:focus{
  color: #7943a4;
}

.events__item__link:active{
  color: #333;
}

.connection{
  padding-bottom: 80px;
  max-width: 100%;
}

.connection__item{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  gap:30px;


}

.connection__item__form{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 20px;

}

.connection__item__adress__title{
  font-size: 24px;
  font-weight: 600;
}

.connection__item__text{
  border: 1px solid #333;
  border-radius: 100px;
  max-width: 100%;
  min-height: 50px;
  padding: 9px 33px 9px 24px;
  transition: color 0.3s ease-in-out;

}

.connection__item__text:hover{
  background: #ececec;
  cursor: pointer;
  outline: none;
}

.connection__item__text:focus{
  background: #ececec;
  cursor: pointer;
  outline: none;
}

.connection__item__rigth{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

.connection__item__rigth__text{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.connection__item__text:invalid{
  border-color: red;
}

.connection__item__rigth_image{
  gap:20px;
}

.connection__item__rigth_image__link{
  margin-right:20px;
}

.connection__item__rigth_image__link:last-child{
  margin-right: 0;
}

.connection__item__rigth_image__link:hover{
  opacity: 0.5;
  outline: none;

}

.connection__item__rigth_image__link:focus{
  opacity: 0.5;
  outline: none;

}

.connection__item__rigth_image__link:active{
  cursor: pointer;
  outline: none;

}


.last{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  padding: 17px 35px;
  max-width: 100%;
  background-color: #FFF;
  color:#9d5cd0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.last:hover{
  outline: 2px solid #9d5cd0;
  cursor: pointer;
}

.last:focus{
  outline: none;
  background: #9d5cd0;
  cursor: pointer;
  color: #FFF;
}

.last:active{
  outline: 3px solid #d1a9f0;
  background: #7943a4;
  color: #FFF;
}

.footer__wrapper__item{
  transition: all 0.3s ease-in-out;
  outline: none;

}

.footer__wrapper__item:hover path{
  fill:#FFF;
  outline: none;
}


.footer__wrapper__item:hover:focus {
  fill:#FFF;
  outline: none;
  cursor: pointer;
}

.footer__wrapper__item:active path{
  outline: none;
  cursor: pointer;
  fill:#9d5cd0;
}
/*
.about-picture{
  display: flex;
  max-width: 100%;
}*/

.footer{
  background-color:  #000;
}

.footer__wrapper{
  border-radius:  12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;

}

.footer__wrapper__item{
  margin-right: 20px;
}

.footer__wrapper__item:last-child{
  margin-right: 0;
}

.custom-checkbox{
  display: none;
  border: none;
}

.custom-checkbox:not(checked)+span{
  transition: all 0.3s ease-in-out;
}

.custom-checkbox:not(checked)+span:hover{
 color: #7943a4;
}

.custom-checkbox:not(checked)+span:focus{
  color: #7943a4;
 }

 .custom-checkbox:not(checked)+span:active{
  color: #7943a4;
 }


.custom-checkbox:checked+span{
  transition: all 0.3s ease-in-out;
}

.custom-checkbox:checked+span:hover{
 color: #7943a4;
}

.custom-checkbox:checked+span:focus{
  color: #7943a4;
 }

 .custom-checkbox:checked+span:active{
  color: #7943a4;
 }


.custom-checkbox:checked+span::before {
  border: 1px solid #FFF;
  background-image: url(../img/ellipse.svg);
  background-size: contain;

}

.custom-checkbox+span::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  /*color: #7943a4;*/
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox+span:after{
  color:#7943a4;
}
