
@media (max-width: 1512px) {

  .gallery__form{
    flex-direction: column;
  }
  .gallery__image{
    padding-top: 30px;
    gap: 34px;
  }
  .gallery__image_item{
   width: 200px;
   height: 200px;

  }
  .catalog__item__image{
    padding-bottom:30px;
  }
}

@media (max-width: 1246px){

  .nav-list{
    justify-content: flex-start;
   /* order: 3;*/
    padding: 30px 0;
    overflow-x: auto;
    gap:55px;

  }

  .parthners__project{
    flex-wrap: nowrap;
    width: 100%;
    gap:24px;
  }
  .events__item__adress{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

}

@media (max-width: 1110px){
  .catalog__item__image{
    width: 100%;
    padding-bottom: 30px;
  }

  .catalog__picture{
    width: 100%;
  }

  .catalog__item__descript {
    width: 100%;
  }

}

@media (max-width: 985px){

  .logo{
    order: 1;
  }

  .loop{
    order: 2;
  }

  .nav-list{
    white-space: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 24px 0;
    gap:44px;
    order: 3;
  }

  .title-first {
    padding: 100px 0;
  }

  .first__title{
    font-size: 55px;
    max-width: 100%;
  }

  .gallery__item{
    padding: 80px 0 30px 0;

  }

  .gallery__image{
    gap:34px;
  }

  .events__item{
    max-width: 100%;
  }

  .events__item__image{
    width: 100%;
  }

  .events__item__picture{
    width: 100%;
  }

  .events__item__descript{
    padding: 10px 23px 49px 23px;
  }
}


@media (max-width: 698px){

  .first__title{
    font-size: 40px;
  }

  .gallery__image{
    flex-wrap: nowrap;
  }

  .parthners__project{
    flex-wrap: wrap;
    gap:12px;
    width: 100%;
  }

  .parthners__project__item{
    width: 100%;
  }

}

@media (max-width:585px){

  .last{
    padding: 12px 35px;
  }

  .last__words{
    display: none;
  }
  .connection__item__text{
    width: 100%;}

    .gallery__image{
      flex-wrap: wrap;
    }
    .gallery__image__part{
      width: 100%;
    }

}

@media (max-width: 389px){

  .title-first {
    padding: 50px 0;
    text-align: center;
  }

  .title{
    font-size: 28px;
  }

  .first__title{
    font-size: 32px;
    text-align: center;
  }

  .first__descript{
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
  }

  .butt{
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    padding: 11px 19px 15px 19px;
    max-width: 100%;
    border-radius: 100px;

  }

  .footer__wrapper{
    display: flex;
    flex-direction: column;
  }
  .footer__logo{
    order: 2;
    margin-top:20px;
  }
  .footer__wrapper__item{
    order: 1;
  }

}

